
<h1></h1>
<a href="?adult=1">エロいよ</a>
<% posts.each do |post| %>
  <div class="post">
    <h2>
      <%= post["title"] %>
    </h2>
    <p class="post-image">

    <a href="/uploads/<%=post["src"] %>" data-lightbox="image">
    <img src="/uploads/<%= post["src"] %>" alt="<%= post["title"] %>">
    </a>

    </p>
    <p>
    💖
    <button class="like" data-id="<%= post["id"] %>">
      <%= post["likes"] %>
    </button>
    </p>
  </div>
<% end %>
<script src="/js/dashboard.js"></script>
